%p
  Hello,
  
%p
  You recently asked us to remind you when Syme is ready. This is just to confirm that your email is registered and that you'll be the first to know when Syme is out.

%p
  Is there anything you'd like to ask or tell us? We'd love to hear from you. You can reach out anytime on <a href="https://www.facebook.com/symeapp">Facebook</a> and <a href="https://twitter.com/symeapp">Twitter</a> or by replying to this e-mail.

%p
  Sincerely,

%p
  The Syme Team