%section#main{:role => "main"}
  .breadcrumb-container
    .row
      .large-12.column
        %nav.breadcrumbs.animated.bounceInDown
          %a{:href => "index.html"} Home
          %a.current{:href => "#"} Contact Us
  %section.part
    .row.title
      .large-12.column
        %h6 How to reach us
    .row
      .large-7.column
        %p
          If you're having trouble, the first place to look for help is on our
          %a{:href => "support.html"} support
          page. If you still need our help, please fill the form below:
        %form{:action => "contact.html", :method => "post"}
          .row
            .large-8.column
              %label Name:
              %input{:type => "text"}/
          .row
            .large-8.column
              %label Email:
              %input{:type => "text"}/
          .row
            .large-12.column
              %label Subject:
              %input{:type => "text"}/
          .row
            .large-12.column
              %label Message:
              %textarea
          .row
            .large-12.column
              %button Send Message
          .row
            .large-12.column
              %small
                %em All fields are required.
      .large-4.column
        #map-canvas{:style => "position: relative; background-color: rgb(229, 227, 223); overflow: hidden; -webkit-transform: translateZ(0px);"}
          .gm-style{:style => "position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;"}
            %div{:style => "position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;"}
              %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 1; width: 100%; cursor: url(https://maps.gstatic.com/mapfiles/openhand_8_8.cur) 8 8, default; -webkit-transform-origin: 0px 0px; -webkit-transform: matrix(1, 0, 0, 1, 0, 0);"}
                %div{:style => "-webkit-transform: translateZ(0px); position: absolute; left: 0px; top: 0px; width: 100%; z-index: 200;"}
                  %div{:style => "-webkit-transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"}
                %div{:style => "-webkit-transform: translateZ(0px); position: absolute; left: 0px; top: 0px; width: 100%; z-index: 201;"}
                  %div{:style => "-webkit-transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"}
                  %div{:style => "-webkit-transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"}
                    %div{:style => "position: absolute; left: 0px; top: 0px; z-index: -1;"}
                      %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 1;"}
                        %div{:style => "width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0px); position: absolute; left: 65px; top: -67px;"}
                          %canvas{:draggable => "false", :height => "256", :style => "-webkit-user-select: none; position: absolute; left: 0px; top: 0px; height: 256px; width: 256px;", :width => "256"}
                        %div{:style => "width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0px); position: absolute; left: 65px; top: 189px;"}
                        %div{:style => "width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0px); position: absolute; left: -191px; top: -67px;"}
                        %div{:style => "width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0px); position: absolute; left: -191px; top: 189px;"}
                        %div{:style => "width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0px); position: absolute; left: 321px; top: -67px;"}
                        %div{:style => "width: 256px; height: 256px; overflow: hidden; -webkit-transform: translateZ(0px); position: absolute; left: 321px; top: 189px;"}
                %div{:style => "-webkit-transform: translateZ(0px); position: absolute; left: 0px; top: 0px; width: 100%; z-index: 202;"}
                  %div{:style => "-webkit-transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"}
                  %div{:style => "-webkit-transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"}
                  %div{:style => "-webkit-transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"}
                %div{:style => "-webkit-transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"}
                  %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 0;"}
                    %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 1;"}
                      %div{:style => "width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 65px; top: -67px;"}
                      %div{:style => "width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 65px; top: 189px;"}
                      %div{:style => "width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: -191px; top: -67px;"}
                      %div{:style => "width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: -191px; top: 189px;"}
                      %div{:style => "width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 321px; top: -67px;"}
                      %div{:style => "width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 321px; top: 189px;"}
                %div{:style => "position: absolute; z-index: 0; left: 0px; top: 0px;"}
                  %div{:style => "overflow: hidden; width: 303px; height: 250px;"}
                    %img{:src => "https://maps.googleapis.com/maps/api/js/StaticMapService.GetMapImage?1m2&amp;1i15143871&amp;2i10294851&amp;2e1&amp;3u16&amp;4m2&amp;1u303&amp;2u250&amp;5m4&amp;1e0&amp;5sen-US&amp;6sus&amp;10b1&amp;token=26813", :style => "width: 303px; height: 250px;"}/
                %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 0;"}
                  %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 1;"}
                    %div{:style => "width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 65px; top: -67px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"}
                      %img{:draggable => "false", :src => "https://mts0.googleapis.com/vt?lyrs=m@260044799&amp;src=apiv3&amp;hl=en-US&amp;x=59156&amp;y=40214&amp;z=16&amp;style=47,37%7Csmartmaps", :style => "width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0px);"}/
                    %div{:style => "width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 65px; top: 189px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"}
                      %img{:draggable => "false", :src => "https://mts0.googleapis.com/vt?lyrs=m@260081884&amp;src=apiv3&amp;hl=en-US&amp;x=59156&amp;y=40215&amp;z=16&amp;style=47,37%7Csmartmaps", :style => "width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0px);"}/
                    %div{:style => "width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: -191px; top: -67px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"}
                      %img{:draggable => "false", :src => "https://mts1.googleapis.com/vt?lyrs=m@260044799&amp;src=apiv3&amp;hl=en-US&amp;x=59155&amp;y=40214&amp;z=16&amp;style=47,37%7Csmartmaps", :style => "width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0px);"}/
                    %div{:style => "width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: -191px; top: 189px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"}
                      %img{:draggable => "false", :src => "https://mts1.googleapis.com/vt?lyrs=m@260081884&amp;src=apiv3&amp;hl=en-US&amp;x=59155&amp;y=40215&amp;z=16&amp;style=47,37%7Csmartmaps", :style => "width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0px);"}/
                    %div{:style => "width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 321px; top: -67px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"}
                      %img{:draggable => "false", :src => "https://mts1.googleapis.com/vt?lyrs=m@260044799&amp;src=apiv3&amp;hl=en-US&amp;x=59157&amp;y=40214&amp;z=16&amp;style=47,37%7Csmartmaps", :style => "width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0px);"}/
                    %div{:style => "width: 256px; height: 256px; -webkit-transform: translateZ(0px); position: absolute; left: 321px; top: 189px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"}
                      %img{:draggable => "false", :src => "https://mts1.googleapis.com/vt?lyrs=m@260081884&amp;src=apiv3&amp;hl=en-US&amp;x=59157&amp;y=40215&amp;z=16&amp;style=47,37%7Csmartmaps", :style => "width: 256px; height: 256px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; -webkit-transform: translateZ(0px);"}/
            %div{:style => "margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"}
              %a{:href => "http://maps.google.com/maps?ll=-37.817379,144.955477&amp;z=16&amp;t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=apiv3", :style => "position: static; overflow: visible; float: none; display: inline;", :target => "_blank", :title => "Click to see this area on Google Maps"}
                %div{:style => "width: 62px; height: 26px; cursor: pointer;"}
                  %img{:draggable => "false", :src => "https://maps.gstatic.com/mapfiles/api-3/images/google_white2.png", :style => "position: absolute; left: 0px; top: 0px; width: 62px; height: 26px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"}/
            .gmnoprint{:style => "z-index: 1000001; position: absolute; right: 163px; bottom: 0px; width: 54px;"}
              .gm-style-cc{:draggable => "false", :style => "-webkit-user-select: none;"}
                %div{:style => "opacity: 0.7; width: 100%; height: 100%; position: absolute;"}
                  %div{:style => "width: 1px;"}
                  %div{:style => "background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"}
                %div{:style => "position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right;"}
                  %a{:style => "color: rgb(68, 68, 68); text-decoration: none; cursor: pointer;"} Map Data
                  %span{:style => "display: none;"} Map data ©2014 Google
            %div{:style => "background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 249px; height: 148px; position: absolute; left: 5px; top: 35px;"}
              %div{:style => "padding: 0px 0px 10px; font-size: 16px;"} Map Data
              %div{:style => "font-size: 13px;"} Map data ©2014 Google
              %div{:style => "width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;"}
                %img{:draggable => "false", :src => "https://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png", :style => "position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"}/
            .gmnoscreen{:style => "position: absolute; right: 0px; bottom: 0px;"}
              %div{:style => "font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);"} Map data ©2014 Google
            .gmnoprint.gm-style-cc{:draggable => "false", :style => "z-index: 1000001; position: absolute; -webkit-user-select: none; right: 93px; bottom: 0px;"}
              %div{:style => "opacity: 0.7; width: 100%; height: 100%; position: absolute;"}
                %div{:style => "width: 1px;"}
                %div{:style => "background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"}
              %div{:style => "position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right;"}
                %a{:href => "http://www.google.com/intl/en-US_US/help/terms_maps.html", :style => "text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);", :target => "_blank"} Terms of Use
            .gm-style-cc{:draggable => "false", :style => "-webkit-user-select: none; position: absolute; right: 0px; bottom: 0px;"}
              %div{:style => "opacity: 0.7; width: 100%; height: 100%; position: absolute;"}
                %div{:style => "width: 1px;"}
                %div{:style => "background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"}
              %div{:style => "position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right;"}
                %a{:href => "http://maps.google.com/maps?ll=-37.817379,144.955477&amp;z=16&amp;t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=apiv3&amp;skstate=action:mps_dialog$apiref:1&amp;output=classic", :style => "font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;", :target => "_new", :title => "Report errors in the road map or imagery to Google"} Report a map error
            .gmnoprint{:controlheight => "84", :controlwidth => "32", :draggable => "false", :style => "margin: 5px; -webkit-user-select: none; position: absolute; left: 0px; top: 0px;"}
              %div{:controlheight => "40", :controlwidth => "32", :style => "cursor: url(https://maps.gstatic.com/mapfiles/openhand_8_8.cur) 8 8, default; position: absolute; left: 0px; top: 0px;"}
                %div{:style => "width: 32px; height: 40px; overflow: hidden; position: absolute; left: 0px; top: 0px;"}
                  %img{:draggable => "false", :src => "https://maps.gstatic.com/mapfiles/api-3/images/cb_scout2.png", :style => "position: absolute; left: -9px; top: -102px; width: 1028px; height: 214px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"}/
                %div{:style => "width: 32px; height: 40px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;"}
                  %img{:draggable => "false", :src => "https://maps.gstatic.com/mapfiles/api-3/images/cb_scout2.png", :style => "position: absolute; left: -107px; top: -102px; width: 1028px; height: 214px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"}/
                %div{:style => "width: 32px; height: 40px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;"}
                  %img{:draggable => "false", :src => "https://maps.gstatic.com/mapfiles/api-3/images/cb_scout2.png", :style => "position: absolute; left: -58px; top: -102px; width: 1028px; height: 214px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"}/
                %div{:style => "width: 32px; height: 40px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;"}
                  %img{:draggable => "false", :src => "https://maps.gstatic.com/mapfiles/api-3/images/cb_scout2.png", :style => "position: absolute; left: -205px; top: -102px; width: 1028px; height: 214px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"}/
              .gmnoprint{:controlheight => "0", :controlwidth => "0", :style => "opacity: 0.6; display: none; position: absolute;"}
                %div{:style => "width: 22px; height: 22px; overflow: hidden; position: absolute; cursor: pointer;", :title => "Rotate map 90 degrees"}
                  %img{:draggable => "false", :src => "https://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png", :style => "position: absolute; left: -38px; top: -360px; width: 59px; height: 492px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"}/
              .gmnoprint{:controlheight => "39", :controlwidth => "20", :style => "position: absolute; left: 6px; top: 45px;"}
                %div{:style => "width: 20px; height: 39px; overflow: hidden; position: absolute;"}
                  %img{:draggable => "false", :src => "https://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png", :style => "position: absolute; left: -39px; top: -401px; width: 59px; height: 492px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"}/
                %div{:style => "position: absolute; left: 0px; top: 2px; width: 20px; height: 17px; cursor: pointer;", :title => "Zoom in"}
                %div{:style => "position: absolute; left: 0px; top: 19px; width: 20px; height: 17px; cursor: pointer;", :title => "Zoom out"}
            .gmnoprint{:style => "margin: 5px; z-index: 0; position: absolute; cursor: pointer; right: 0px; top: 0px;"}
              .gm-style-mtc{:style => "float: left;"}
                %div{:draggable => "false", :style => "direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; -webkit-user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 1px 6px; border-bottom-left-radius: 2px; border-top-left-radius: 2px; -webkit-background-clip: padding-box; background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0.14902); -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; min-width: 23px; font-weight: 500;", :title => "Show street map"} Map
                %div{:style => "background-color: white; z-index: -1; padding-top: 2px; -webkit-background-clip: padding-box; background-clip: padding-box; border-width: 0px 1px 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: rgba(0, 0, 0, 0.14902); border-bottom-color: rgba(0, 0, 0, 0.14902); border-left-color: rgba(0, 0, 0, 0.14902); -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; position: absolute; left: 0px; top: 15px; text-align: left; display: none;"}
                  %div{:draggable => "false", :style => "color: rgb(184, 184, 184); font-family: Roboto, Arial, sans-serif; -webkit-user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 3px 8px 3px 5px; direction: ltr; text-align: left; white-space: nowrap;", :title => "Zoom out to show street map with terrain"}
                    %span{:role => "checkbox", :style => "box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(241, 241, 241); border-top-left-radius: 1px; border-top-right-radius: 1px; border-bottom-right-radius: 1px; border-bottom-left-radius: 1px; width: 13px; height: 13px; vertical-align: middle;"}
                      %div{:style => "position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden; display: none;"}
                        %img{:draggable => "false", :src => "https://maps.gstatic.com/mapfiles/mv/imgs8.png", :style => "position: absolute; left: -52px; top: -44px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 68px; height: 67px;"}/
                    %label{:style => "vertical-align: middle; cursor: pointer;"} Terrain
              .gm-style-mtc{:style => "float: left;"}
                %div{:draggable => "false", :style => "direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(86, 86, 86); font-family: Roboto, Arial, sans-serif; -webkit-user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 1px 6px; border-bottom-right-radius: 2px; border-top-right-radius: 2px; -webkit-background-clip: padding-box; background-clip: padding-box; border-width: 1px 1px 1px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-top-color: rgba(0, 0, 0, 0.14902); border-right-color: rgba(0, 0, 0, 0.14902); border-bottom-color: rgba(0, 0, 0, 0.14902); -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; min-width: 38px;", :title => "Show satellite imagery"} Satellite
                %div{:style => "background-color: white; z-index: -1; padding-top: 2px; -webkit-background-clip: padding-box; background-clip: padding-box; border-width: 0px 1px 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: rgba(0, 0, 0, 0.14902); border-bottom-color: rgba(0, 0, 0, 0.14902); border-left-color: rgba(0, 0, 0, 0.14902); -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; position: absolute; right: 0px; top: 15px; text-align: left; display: none;"}
                  %div{:draggable => "false", :style => "color: rgb(184, 184, 184); font-family: Roboto, Arial, sans-serif; -webkit-user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 3px 8px 3px 5px; direction: ltr; text-align: left; white-space: nowrap; display: none;", :title => "Zoom in to show 45 degree view"}
                    %span{:role => "checkbox", :style => "box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(241, 241, 241); border-top-left-radius: 1px; border-top-right-radius: 1px; border-bottom-right-radius: 1px; border-bottom-left-radius: 1px; width: 13px; height: 13px; vertical-align: middle;"}
                      %div{:style => "position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden; display: none;"}
                        %img{:draggable => "false", :src => "https://maps.gstatic.com/mapfiles/mv/imgs8.png", :style => "position: absolute; left: -52px; top: -44px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 68px; height: 67px;"}/
                    %label{:style => "vertical-align: middle; cursor: pointer;"} 45°
                  %div{:draggable => "false", :style => "color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; -webkit-user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 3px 8px 3px 5px; direction: ltr; text-align: left; white-space: nowrap;", :title => "Show imagery with street names"}
                    %span{:role => "checkbox", :style => "box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-top-left-radius: 1px; border-top-right-radius: 1px; border-bottom-right-radius: 1px; border-bottom-left-radius: 1px; width: 13px; height: 13px; vertical-align: middle;"}
                      %div{:style => "position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden;"}
                        %img{:draggable => "false", :src => "https://maps.gstatic.com/mapfiles/mv/imgs8.png", :style => "position: absolute; left: -52px; top: -44px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 68px; height: 67px;"}/
                    %label{:style => "vertical-align: middle; cursor: pointer;"} Labels
        %script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"}
        %script{:src => "https://maps.gstatic.com/intl/en_us/mapfiles/api-3/16/8/main.js", :type => "text/javascript"}
        :javascript
          var latitude = -45.511852;
                                  var longitude = -73.569880;
                                  function initialize(){var e=new google.maps.LatLng(latitude,longitude);var t={zoom:16,center:e,mapTypeId:google.maps.MapTypeId.ROADMAP};var n=new google.maps.Map(document.getElementById("map-canvas"),t);var r=new google.maps.Marker({position:e,map:n,title:"Hello World!"})}google.maps.event.addDomListener(window,"load",initialize)        .row
          .small-3.column
            %h6 Address:
          .small-9.column
            %p 51 Sherbrooke St W, Montreal, QC H2X 1X2, Canada
        .row
          .small-3.column.text
            %h6 Phone:
          .small-9.column.text
            %p
              +1 514 235 3872
        .row
          .small-3.column.text
            %h6 Email:
          .small-9.column.text
            %p
              %a{:href => "mailto:info@cryodex.io"} info@cryodex.io
              %br
                %a{:href => "mailto:info@cryodex.io"} support@cryodex.io