%section#main{:role => "main"}
  .breadcrumb-container
    .row
      .large-12.column
        %nav.breadcrumbs.animated.bounceInDown
          %a{:href => "index.html"} Home
          %a.current{:href => "#"} Contact Us
  %section.part
    .row.title
      .large-12.column
        %h6 Get a free consultation
    .row
      .large-7.column
        %p
          Please complete the form to get further information on our technology, pricing and availability. If your inquiry is urgent, please contact us at the telephone number below.
        %form{:action => "contact.html", :method => "post"}
          .row
            .large-8.column
              %label Name:
              %input{:type => "text"}/
          .row
            .large-8.column
              %label Email:
              %input{:type => "text"}/
          .row
            .large-12.column
              %label Message:
              %textarea
          .row
            .large-12.column
              %button Send Message
          .row
            .large-12.column
              %small
                %em All fields are required.
      .large-4.column
        #map-canvas
          :plain
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11183.91053705927!2d-73.56438683593765!3d45.51052885351935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91a4bbe13b0df%3A0xc06c2aa42d3df87c!2s51+Rue+Sherbrooke+Ouest!5e0!3m2!1sen!2s!4v1397946071557" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
        .row
          .small-3.column
            %h6 Address:
          .small-9.column
            %p 51 Sherbrooke St W, Montreal, QC H2X 1X2, Canada
        .row
          .small-3.column.text
            %h6 Phone:
          .small-9.column.text
            %p
              +1 514 235 3872
        .row
          .small-3.column.text
            %h6 Email:
          .small-9.column.text
            %p
              %a{:href => "mailto:info@cryodex.io"} info@cryodex.io
              %br
                %a{:href => "mailto:info@cryodex.io"} support@cryodex.io