.breadcrumb-container
  .row
    .large-12.column
      %nav.breadcrumbs.animated.bounceInDown
        %a{href: "/"} Home
        %a.current{href: "#"} Features
%section.part
  .row.title
    .large-12.column
      %h6 Protect data wherever it goes
     
  .row.features.spacy
    .large-4.column
      %h4.no-top-margin
        %i.icon-magic
        &nbsp;
        Flexible security
      %p Cryodex makes database encryption simple. Our database encryption proxy works transparently, and does not require you to change your database schema or queries.
    .large-4.column
      %h4.no-top-margin
        %i.icon-bolt
        &nbsp;
        Blazing-fast speed
      %p Our databases are served on blazing fast servers. With hardware-accelerated cryptographic primitives, our encryption proxy adds minimal overhead to database transactions.
    .large-4.column
      %h4
        %i.icon-certificate
        &nbsp;
        Top-notch datacenters
      %p All encrypted data is stored in world-class datacenters operated by Amazon. All datacenters are SSAE 16 and ISO 27001 certified and have a 99.9% uptime guarantee.

%section.part{ style: 'margin-top: -70px'}
  .row.title
    .large-12.column
      %h6 How it works
  .row.features.spacy
    .large-6.column
      .row
        .small-2.column
          %i.icon-lock.large.colored
        .small-10.column
          %h4.no-top-margin Secure Transparent Encryption
          %p Cryodex exclusively uses authenticated AES encryption modes to protect both data confidentiality and integrity. Cryodex uses AES-CCM and AES-SIV, a secure construction for deterministic authenticated encryption.
    .large-6.column
      .row
        .small-2.column
          %i.icon-search.large.colored
        .small-10.column
          %h4.no-top-margin Searchable Strong Encryption
          %p Searchable encryption enables full-text searches over encrypted data in the cloud. Cryodex implements a provably secure searchable encryption scheme based on the work of <a href="http://www.cs.berkeley.edu/~dawnsong/papers/se.pdf">[Song 2000]</a>, <a href="https://eprint.iacr.org/2003/216.pdf">[Goh 2003]</a> and <a href="http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=5541682&tag=1">[Wang  2011]</a>.
    .large-6.column
      .row
        .small-2.column
          %i.icon-globe.large.colored
        .small-10.column
          %h4.no-top-margin Order-Preserving Encryption
          %p Order-preserving encryption enables range and sort queries on encrypted numeric data. Cryodex uses an order-preserving encryption function that was proven to be secure and analyzed in depth in <a href="http://www.cc.gatech.edu/~aboldyre/papers/bclo.pdf">[Boldyreva 2009]</a> and <a href="http://www.cc.gatech.edu/~aboldyre/papers/operev.pdf">[Boldyreva 2011]</a>.
    .large-6.column
      .row
        .small-2.column
          %i.icon-tasks.large.colored
        .small-10.column
          %h4.no-top-margin Partially Homomorphic Encryption
          %p Additive homomorphic encryption enables basic computing, such as addition, over encrypted data in the cloud. Cryodex uses the well-established Paillier crypto-system to calculate sums and averages of encrypted values.
