.breadcrumb-container
  .row
    .large-12.column
      %nav.breadcrumbs.animated.bounceInDown
        %a{href: "/"} Home
        %a.current{href: "#"} Features
%section.part
  .row.title
    .large-12.column
      %h6 Our top features
     
  .row.features.spacy
    .large-4.column
      %h4.no-top-margin
        %i.icon-magic
        &nbsp;
        Flexible encryption
      %p Encrypt sensitive database fields and protect passwords at the click of a button. Our database encryption proxy works transparently and does not require you to change your database schema or queries.
    .large-4.column
      %h4.no-top-margin
        %i.icon-file-text
        &nbsp;
        Auditing and logging
      %p Ensure compliance and follow best practices with real-time monitoring analytics and detailed audit trails. Our audit tracking tool automatically records database activity including date, time, server location, type of query, and more.
    .large-4.column
      %h4.no-top-margin
        %i.icon-cloud-upload
        &nbsp;
        Secure backups
      %p Database backups are a pain. With Cryodex, all your data is protected using <a href="http://en.wikipedia.org/wiki/Erasure_code">erasure coding</a> and securely pushed to multiple geographical locations. With no single point of failure, our backup architecture offers unrivalled data safety.

  .row.features.spacy
    .large-4.column
      %h4
        %i.icon-certificate
        &nbsp;
        Top-notch datacenters
      %p All data related to Cryodex accounts is stored in world-class datacenters operated by Amazon Web Services. All datacenters are SSAE 16 and ISO 27001 certified.
    .large-4.column
      %h4
        %i.icon-time
        &nbsp;
        99.9% uptime
      %p Cryodex databases have a 99.9% uptime guarantee with fast, automatic recovery from database, server or network failures.
      
    .large-4.column
      %h4
        %i.icon-cloud
        Constant backups
      %p Uploaded data is backed up to a disaster recovery datacenter in addition to the primary storage location.
%section.part
  .row.title
    .large-12.column
      %h6 Industry-leading encryption
  .row.features.spacy
    .large-6.column
      .row
        .small-2.column
          %i.icon-ok-circle.large.colored
        .small-10.column
          %h4.no-top-margin Symmetric encryption
          %p Cryodex exclusively uses authenticated AES encryption modes to protect both data confidentiality and integrity. Cryodex uses AES-CCM and AES-SIV, a secure construction for deterministic authenticated encryption.
    .large-6.column
      .row
        .small-2.column
          %i.icon-dashboard.large.colored
        .small-10.column
          %h4.no-top-margin Searchable encryption
          %p Searchable encryption enables full-text searching over encrypted data in the cloud. Cryodex implements a provably secure searchable encryption scheme described UC Berkeley researchers <a href="http://www.cs.berkeley.edu/~dawnsong/papers/se.pdf">[Song, Wagner and Perri]</a>.
    .large-6.column
      .row
        .small-2.column
          %i.icon-globe.large.colored
        .small-10.column
          %h4.no-top-margin Order-preserving encryption
          %p Order-preserving encryption lets you perform range queries on encrypted indexes. Cryodex uses an order-preserving encryption scheme based on the hypergeometric distribution, which has been described by <a href="http://www.cc.gatech.edu/~aboldyre/papers/bclo.pdf">[Boldyreva, Chenette and O'Neill]</a>
    .large-6.column
      .row
        .small-2.column
          %i.icon-tasks.large.colored
        .small-10.column
          %h4.no-top-margin Homomorphic encryption
          %p Additive homomorphic encryption enables computing over encrypted data in the cloud. Cryodex uses the well-established Paillier crypto-system to calculate sums and averages of encrypted values.
