.breadcrumb-container
  .row
    .large-12.column
      %nav.breadcrumbs.animated.bounceInDown
        %a{href: "index.html"} Home
        %a.current{href: "#"} Features
%section.part
  .row.title
    .large-12.column
      %h6 Our top features
     
  .row.features.spacy
    .large-4.column
      %h4.no-top-margin
        %i.icon-archive
        Flexible encryption
      %p Configure encryption, password protection or tokenization for each of your database fields at the click of a button. Our database encryption proxy works transparently and does not require you to change your database schema or queries.
    .large-4.column
      %h4.no-top-margin
        %i.icon-lock
        Full audit trails
      %p Ensure compliance and follow best practices with real-time monitoring analytics and detailed audit trails. Our audit tracking tool automatically records database activity including date, time, server location, type of query, and more.
    .large-4.column
      %h4.no-top-margin
        %i.icon-comments
        Secure backups
      %p Database backups are a pain. With Cryodex, all your data is protected using <a href="http://en.wikipedia.org/wiki/Erasure_code">erasure coding</a> and securely pushed to multiple geographical locations. With no single point of failure, our backup architecture offers unrivalled data safety.

  .row.features.spacy
    .large-4.column
      %h4
        %i.icon-cog
        Certified datacenters
      %p All data related to Cryodex accounts is stored in world-class datacenters operated by Amazon Web Services. All datacenters are SSAE 16 and ISO 27001 certified.
    .large-4.column
      %h4
        %i.icon-time
        99.9% uptime
      %p Cryodex databases have a 99.9% uptime guarantee with fast, automatic recovery from database, server or network failures.
      
    .large-4.column
      %h4
        %i.icon-cloud
        Constant backups
      %p Uploaded data is backed up to a disaster recovery datacenter in addition to the primary storage location.
%section.part
  .row.title
    .large-12.column
      %h6 Industry-leading encryption
  .row.features.spacy
    .large-6.column
      .row
        .small-2.column
          %i.icon-ok-circle.large.colored
        .small-10.column
          %h4.no-top-margin Symmetric encryption
          %p Cryodex exclusively uses authenticated AES encryption modes to protect both data confidentiality and integrity. Cryodex uses AES-CCM and AES-SIV, a secure construction for deterministic authenticated encryption.
    .large-6.column
      .row
        .small-2.column
          %i.icon-dashboard.large.colored
        .small-10.column
          %h4.no-top-margin Searchable encryption
          %p Searchable encryption enables full-text searching over encrypted data in the cloud. Cryodex implements a provably secure searchable encryption scheme described UC Berkeley researchers <a href="http://www.cs.berkeley.edu/~dawnsong/papers/se.pdf">[Song, Wagner and Perri]</a>.
    .large-6.column
      .row
        .small-2.column
          %i.icon-globe.large.colored
        .small-10.column
          %h4.no-top-margin Order-preserving encryption
          %p Order-preserving encryption lets you perform range queries on encrypted indexes. Cryodex uses an order-preserving encryption scheme based on the hypergeometric distribution, which has been described by <a href="http://www.cc.gatech.edu/~aboldyre/papers/bclo.pdf">[Boldyreva, Chenette and O'Neill]</a>
    .large-6.column
      .row
        .small-2.column
          %i.icon-tasks.large.colored
        .small-10.column
          %h4.no-top-margin Homomorphic encryption
          %p Additive homomorphic encryption enables computing over encrypted data in the cloud. Cryodex uses the well-established Paillier crypto-system to calculate sums and averages of encrypted values.
%section.part
  .row.title
    .large-12.column
      %h6 How it works
  %article.row
    .large-6.column.text-center
      %img.margin-bottom-small{alt: "", src: "images/demo/features1.jpg"}/
    .large-6.column
      %h4.red.no-top-margin Sollicitudin Lorem Venenatis
      %p Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
      %p Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
  .row
    .large-12.column
      %hr.margin-top.margin-bottom/
  %article.row
    .large-6.push-6.column.text-center
      %img.margin-bottom-small{alt: "", src: "images/demo/features2.jpg"}/
    .large-6.pull-6.column
      %h4.red Purus Ridiculus Tortor
      %p Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.
      %p Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.
      %p Credibly innovate granular internal or "organic" sources whereas high standards in web-readiness. Energistically scale future-proof core competencies vis-a-vis impactful experiences. Dramatically synthesize integrated schemas with optimal networks.
  .row
    .large-12.column
      %hr.margin-top.margin-bottom/
  %article.row
    .large-6.column.text-center
      %img.margin-bottom-small{alt: "", src: "images/demo/features3.jpg"}/
    .large-6.column
      %h4.red Sollicitudin Lorem Venenatis
      %p Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products.
      %p Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate proactive e-commerce via process-centric "outside the box" thinking. Completely pursue scalable customer service through sustainable potentialities.
  .row
    .large-12.column
      %hr.margin-top.margin-bottom/
  %article.row
    .large-6.push-6.column.text-center
      %img.margin-bottom-small{alt: "", src: "images/demo/features4.jpg"}/
    .large-6.pull-6.column
      %h4.red Purus Ridiculus Tortor
      %p Collaboratively administrate turnkey channels whereas virtual e-tailers. Objectively seize scalable metrics whereas proactive e-services. Seamlessly empower fully researched growth strategies and interoperable internal or "organic" sources.
      %p Credibly innovate granular internal or "organic" sources whereas high standards in web-readiness. Energistically scale future-proof core competencies vis-a-vis impactful experiences. Dramatically synthesize integrated schemas with optimal networks.