%section#hero
  .row
    .large-10.large-centered.column.text-center
      #hero-message.fadeInDown.animated
        %h1 Secure your data in the cloud
        %h4 Transparent database encryption for developers
        %form#hero-signup-form.animated.fadeIn{ method: 'post', action: '/post' }
          %input{ type: 'email', name: 'email', placeholder: 'Your e-mail address', spellcheck: 'false', autocorrect: 'off', autocapitalize: 'off', autocomplete: 'off' }
          %a#herok-signup-button.button
            SIGN UP
            &nbsp;
            %i.icon-chevron-right.icon-white
%section.part
  .row.title
    .large-12.column
      %h6 Database security for developers
  .row.features.spacy
    .large-4.column
      %h4
        %i.icon-lock
        &nbsp;
        End-to-end encryption
      %p Stay in control of your data. Cryodex applies strong encryption to your data before it is sent to the cloud. Private encryption keys never leave your servers.
    .large-4.column
      %h4
        %i.icon-tasks
        &nbsp;
        Transparent security
      %p Security that breaks applications is pointless. Cryodex preserves the ability to sort, search and retrieve encrypted data without requiring modifications to application code.
    .large-4.column
      %h4
        %i.icon-cloud
        &nbsp;
        Easy integration
      %p Integrate Cryodex in your existing application in less than 5 lines of code. Our encryption proxy works behind the scenes to protect your data.
      
  .row
    .large-12.column.text-center
      %a#request-info.button{href: "/contact"} Request more information
%section.part
  .row.title
    .large-12.column
      %h6 Pick a plan
  .row
    .large-12.column
      .row
        .large-4.column
          %ul.pricing-table
            %li.title Developer
            %li.price
              $25.99
              %span / month
            %li.bullet-item
              %strong 1
              NoSQL database
            %li.bullet-item
              %strong Shared
              environment
            %li.bullet-item 
              %strong Realtime
              database audit trails
            %li.bullet-item
              %strong 128-bit
              AES-SIV encryption
            %li.bullet-item
              %strong Order-preserving
              encryption
            %li.bullet-item
              %strong Basic
              encrypted search <br/> (10 000 - 100 000 documents)
            %li.cta-button
              %a#plan1.button{href: "#signup-modal", rel: "modal:open"} Get Started
        .large-4.column
          %ul.pricing-table.highlight
            %li.title Business
            %li.price
              $99.99
              %span / month
              %li.bullet-item
                %strong 10
                NoSQL databases
              %li.bullet-item
                %strong Dedicated
                process
              %li.bullet-item
                %strong Realtime
                database audit trails
              %li.bullet-item
                %strong 128-bit
                AES-SIV encryption
              %li.bullet-item
                %strong Order-preserving
                encryption
              %li.bullet-item
                %strong Fast
                searchable encryption <br /> (100 000+ documents)
            %li.cta-button
              %a#plan2.button{href: "#signup-modal", rel: "modal:open"} Get Started
        .large-4.column
          %ul.pricing-table
            %li.title Enterprise
            %li.price
              $399.99
              %span / month
            %li.bullet-item
              %strong Unlimited
              databases
            %li.bullet-item
              %strong Sandboxed
              server
            %li.bullet-item
              %strong Realtime
              database audit trails
            %li.bullet-item
              %strong 256-bit
              AES-SIV encryption
            %li.bullet-item
              %strong Order-preserving
              encryption
            %li.bullet-item
              %strong Advanced
              searchable encryption <br /> (with keyword relevance ranking)
            %li.cta-button
              %a#plan3.button{href: "#signup-modal", rel: "modal:open"} Get Started
%a#back-top{href: "#"}
  %i.icon-caret-up