%section#hero
  .row
    .large-10.large-centered.column.text-center
      #hero-message.fadeInDown.animated
        %h1 Secure your data in the cloud
        %h4 Transparent database encryption for developers
        %a.button{href: "#signup-modal", rel: "modal:open"} SIGN UP FOR A PLAN
%section.part
  .row.title
    .large-12.column
      %h6 Database security for developers
  .row.features.spacy
    .large-4.column
      %h4
        %i.icon-lock
        &nbsp;
        End-to-end encryption
      %p The Cryodex proxy applies strong AES-256 bit encryption to your database <i>before</i> information is sent to the cloud. Private encryption keys never leave your servers.
    .large-4.column
      %h4
        %i.icon-tasks
        &nbsp;
        Transparent security
      %p Security that breaks applications is pointless. Cryodex preserves the ability to sort, search and retrieve encrypted data without requiring modifications to application code.
    .large-4.column
      %h4
        %i.icon-cloud
        &nbsp;
        Easy integration
      %p Integrate Cryodex in your existing application in less than 5 lines of code. Our security gateway works behind the scenes to protect your data and never gets in your way.
      
  .row
    .large-12.column.text-center
      %a.button{href: "/features"} Request more information
%section.part
  .row.title
    .large-12.column
      %h6 Pick a plan
  .row
    .large-12.column
      .row
        .large-4.column
          %ul.pricing-table
            %li.title Developer
            %li.price
              $25.99
              %span / month
            %li.bullet-item
              %strong 1
              NoSQL database
            %li.bullet-item
              %strong Shared
              environment
            %li.bullet-item Detailed database audit trails
            %li.bullet-item AES-SIV encryption (128 bits)
            %li.bullet-item Basic encrypted search <br/> (10 000 - 100 000 documents)
            %li.bullet-item Order-preserving encryption
            %li.cta-button
              %a#plan1.button{href: "#signup-modal", rel: "modal:open"} Get Started
        .large-4.column
          %ul.pricing-table.highlight
            %li.title Business
            %li.price
              $99.99
              %span / month
              %li.bullet-item
                %strong 10
                NoSQL databases
              %li.bullet-item
                %strong Dedicated
                server
              %li.bullet-item Detailed database audit trails
              %li.bullet-item AES-SIV encryption (256 bits)
              %li.bullet-item Advanced searchable encryption <br /> (100 000+ documents)
              %li.bullet-item Order-preserving encryption
            %li.cta-button
              %a#plan2.button{href: "#signup-modal", rel: "modal:open"} Get Started
        .large-4.column
          %ul.pricing-table
            %li.title Enterprise
            %li.price
              $399.99
              %span / month
            %li.bullet-item
              %strong Unlimited
              databases
            %li.bullet-item
              %strong Dedicated
              cluster
            %li.bullet-item Detailed database audit trails
            %li.bullet-item AES-SIV encryption (256 bits)
            %li.bullet-item Advanced searchable encryption <br /> (100 000+ documents)
            %li.bullet-item Order and format-preserving encryption
            
            %li.cta-button
              %a#plan3.button{href: "#signup-modal", rel: "modal:open"} Get Started
%a#back-top{href: "#"}
  %i.icon-caret-up