%html
  %head
    %meta{charset: "utf-8"}/
    /[if IE] <meta http-equiv="X-UA-Compatible" content="IE=edge">
    %title Cryodex
    %meta{content: "", name: "description"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %link{href: "/css/filoxenia.css", rel: "stylesheet"}/
    %link{href: "/css/custom.css", rel: "stylesheet"}/
    %link{href: "/css/magnific-popup.css", rel: "stylesheet"}/
    %script{src: "/js/vendor/custom.modernizr.js"}
    :plain
      <script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split("");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);mixpanel.init("2c4d8af568eb1398396c524ee2f3c868");</script>
  :plain
    <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-50202000-1', 'cryodex.io');ga('send', 'pageview');</script>
  :plain
    <script src="//cdn.optimizely.com/js/613260024.js"></script>
  %body
  
    %header.contain-to-grid
      = haml :'layout/navbar'
    
    %section#main{role: "main"}
      #signup-modal{ style: 'display: none; width: 100%; text-align: center;' }
        %section.part
          #sign-up{ style: 'width: 300px; margin-left: auto; margin-right: auto; padding: 25px; background-color: #dddddd'}
            %form.text-center{action: "signup.html", method: "post"}
              .row.title
                .large-12.column
                  %h6 Be the first to know
              .row
                %p Leave us your e-mail to be the first one to know when Cryodex launches.
              .row
                .large-centered.columns{ style: 'padding: 0'}
                  %input{placeholder: "Email", type: "text"}/
              .row
                .columns
                  %button{type: "submit"} Sign Up
      = yield
    
    %footer
      .row.spacy
        .large-6.column
          %h4 About us
          %p Cryodex is designed and built by Syme Labs, an IT security firm based in Montreal, Canada.
          %p Syme Labs was founded in December 2012 with the mission of making encryption more accessible on the web.
          %p
            Since then, our team has led several
            %a{href: "https://github.com/symeapp"} open source efforts
            to make encryption safer and easier for developers to use. Our
            %a{href: "https://getsyme.com"} work
            has received international press coverage and has been featured in security blogs across the world.
          %p With Cryodex, Syme Labs is putting the power of cutting-edge encryption technology into the hands of developers.
        .large-4.column
          %h4 Contact
          .row
            .small-3.column
              %h6 Address:
            .small-9.column
              %p
                180 Sherbrooke West
                %br/
                Montreal, Canada
          .row
            .small-3.column.text
              %h6 Phone:
            .small-9.column.text
              %p +1 514 235 3872
          .row
            .small-3.column.text
              %h6 Email:
            .small-9.column.text
              %p
                %a{href: "mailto:info@cryodex.io"} info@cryodex.io
                %br/
                %a{href: "mailto:support@cryodex.io"} support@cryodex.io
      .row
        .large-12.column
          %hr/
      .row
        %p.small-12.large-4.large-uncentered.column.copyright Copyright © 2013-14 Cryodex
        %p.small-12.large-8.column.social
          %a{href: "mailto:info@cryodex.io"}
            %i.icon-envelope
          %a{href: "/contact"}
            %i.icon-rss
          %a{href: "https://www.facebook.com/pages/Cryodex/230132050510127", target: "_blank"}
            %i.icon-facebook
          %a{href: "https://www.twitter.com/cryodex", target: "_blank"}
            %i.icon-twitter
          %a{href: "https://plus.google.com/b/109403914239795493872/", target: "_blank"}
            %i.icon-google-plus
          %a{href: "//www.linkedin.com", target: "_blank"}
            %i.icon-linkedin
    %script{src: "/assets/vendor/jquery.js"}
    %script{src: "/assets/vendor/jquery.modal.min.js"}
    %script{src: "/assets/vendor/foundation/foundation.js"}
    %script{src: "/assets/vendor/foundation/foundation.topbar.js"}
    %script{src: "/assets/vendor/foundation/foundation.section.js"}
    %script{src: "/assets/filoxenia.js"}
    %script{src: "/assets/custom.js"}
    %script{src: "/assets/demo.js"}
    %script{src: "/assets/app.js"}