%section.part
  .row
    .large-12.column.text-center
      %h1 Page not found
      %h6 Looks like the page you're looking for was moved or never existed.
      %h6 Make sure you typed the correct URL or followed a valid link.
      .row
        .large-12.column
          %a.button{:href => "/"} Return Home
          %p
            or
            %a{:href => "contact.html"} contact us
            about the problem.