%body#services
  = haml :'layout/navbar_static'
  #grid-first
    .container
      .row.header
        %h3 Syme takes your privacy seriously.
        %p
          We use state-of-the-art encryption technology to protect your data.
      .row.sections
        .col-md-4
          .section
            .pic
              %img.img-responsive{:alt => "services2", :src => "images/services2.png"}
            .info
              %strong SSL with forward secrecy
              %p
                All connections to our service are encrypted using SSL/TLS with perfect forward secrecy (PFF) enabled. Our SSL setup has an A+ quality rating according to the
                %a{href: 'https://www.ssllabs.com/ssltest/analyze.html?d=getsyme.com'}
                  Qualys SSL Labs.
                
        .col-md-4
          .section
            .pic
              %img.img-responsive{:alt => "services4", :src => "images/services4.png"}
            .info
              %strong AES-256 and ECC-256
              %p
                Your data is encrypted with the same industry-standard encryption primitives used by Bitcoin to protect electronic transactions. 
        .col-md-4
          .section
            .pic
              %img.img-responsive{:alt => "services3", :src => "images/services3.png"}
            .info
              %strong Trusted code delivery
              %p
                Syme is delivered as an extension and runs in a secure sandbox away from potentially malicious web pages.
  #grid-second
    .container
      .row.header
        .col-md-12
          %h3 Technical Security Sheet
          %p
            Understand how Syme protects user data.
      .row.features
        .col-md-6.feature
          %img{:alt => "globe", :src => "images/circle-icons/full-color/globe.png"}
            .info
              %strong Strong key derivation
              %p Syme uses PBKDF2 with 10,000 iterations of HMAC-SHA256 to increase protection against weak passwords.
        .col-md-6.feature
          %img{:alt => "location", :src => "images/circle-icons/full-color/location.png"}
            .info
              %strong Secure authentication
              %p Users are authenticated with the Secure Remote Password protocol (SRP). Passwords are never sent across the network.
      .row.features
        .col-md-6.feature
          %img{:alt => "smartphone", :src => "images/circle-icons/full-color/smartphone.png"}
            .info
              %strong Out-of-band PIN authentication
              %p Each Syme user is provided with a convenient PIN that can be used to authenticate their public keys out-of-band.
        .col-md-6.feature
          %img{:alt => "support", :src => "images/circle-icons/full-color/support.png"}
            .info
              %strong High performance encryption
              %p Syme uses ECC to provide strong asymmetric encryption at blazing fast speeds, even on mobile devices.
      .row.features
        .col-md-6.feature
          %img{:alt => "globe", :src => "images/circle-icons/full-color/globe.png"}
            .info
              %strong 
              %p 
        .col-md-6.feature
          %img{:alt => "location", :src => "images/circle-icons/full-color/location.png"}
            .info
              %strong Secure authentication
              %p Users are authenticated with the Secure Remote Password protocol (SRP). Passwords are never sent across the network.
  #cta
    .container
      .row
        .col-md-12
          .wrapper.clearfix
            %h4 Try Syme now and start communicating privately.
            %a.button.button-small{:href => "/"} Sign up
  #footer
    .container
      .row
        .col-sm-3.copyright
          React LLC 2014
        .col-sm-6.menu
          %ul
            %li
              %a{:href => "features.html"} Features
            %li.active
              %a{:href => "services.html"} Services
            %li
              %a{:href => "pricing.html"} Pricing
            %li
              %a{:href => "support.html"} Support
            %li
              %a{:href => "blog.html"} Blog
        .col-sm-3.social
          %a{:href => "#"}
            %img{:alt => "twitter", :src => "images/social/social-tw.png"}
          %a{:href => "#"}
            %img{:alt => "dribbble", :src => "images/social/social-dbl.png"}