.brand {

  cursor: auto;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 0px;
  padding-left: 16.25px;
  padding-right: 16.25px;
  padding-top: 0px;
  text-align: center;
  
};

.modal a {
  margin-left: auto !important;
  color: white !important;
  font-weight: bold;
}

h4 {
  font-size: 20px;
}