.brand {

  cursor: auto;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 0px;
  padding-left: 16.25px;
  padding-right: 16.25px;
  padding-top: 0px;
  text-align: center;
  
};

.close-modal {
  margin-left: auto !important;
}