%h2.slogan
  Syme brings privacy to your group conversations by encrypting everything you share.

/ %a#learn-more
/   Learn more

%p
  Syme is a group sharing tool that puts your security and privacy first using end-to-end encryption. This ensures that only you and the people you communicate with can access what you share. Even we, as the service provider, can never access the content of your groups.

%h3 Encrypt what you share

%p
  Your posts are encrypted before they leave your computer. This is done with AES-256 symmetric and ECC-384 asymmetric encryption.

%h3 Share with confidence

%p
  Only your group members have the keys to decrypt your posts. No one else has access. Not even us.

%h3 Simple and easy to use

%p
  Anyone can use Syme. You can set up a groups for your friends, family and colleagues in less than a minute.

#reminders
  %h2
    A few reminders

  %p
    <strong>Syme does not provide anonymity</strong>. Syme does not mask your IP address and   therefore doesn’t make you anonymous. We recommend checking out the <a href="https://www.torproject.org/" target="_blank">Tor Project</a> if you’re interested in online anonymity.

  %p
    <strong>Syme does not encrypt your metadata</strong>. We do not have access to any of your group content, but we do have access to some metadata (check out our <a href="/faq">FAQ</a> for more details). Our goal is to shield your metadata as much as possible, and we are currently working on ways of doing  this.

  %p
    <strong>Syme does not protect you if your computer is compromised</strong>. We make Syme as secure and private as possible, but we cannot protect   you if your computer is compromised, by a keylogger for example.

  %p
    <strong>Syme is far from perfect</strong>. While we aim to provide you with strong end-to-end encryption to protect your privacy and security, it’s important to note that nothing on the Internet is ever 100% secure.