.row
  .large-12.column
    %nav#menu.top-bar
      %ul.title-area
        %li.name
          %a.brand{href: "/"} CRYODEX
        %li.toggle-topbar.menu-icon
          %a{href: "#"}
            %span Menu
      %section.top-bar-section
        %ul.right
          %li
            %a{href: "/plans"} PLANS & PRICING
          %li
            %a{href: "/features"} FEATURES
          %li
            %a{href: "/about"} ABOUT
          %li
            %a{href: "/support"} SUPPORT
          %li
            %a{href: "/login"} LOG IN
          %li#signup
            %a.button.no-margin{href: "/signup"} SIGN UP