.row
  .large-12.column
    %nav#menu.top-bar
      %ul.title-area
        %li.name
          %a.brand{href: "index.html"} CRYODEX
        %li.toggle-topbar.menu-icon
          %a{href: "#"}
            %span Menu
      %section.top-bar-section
        %ul.right
          %li
            %a{href: "plans.html"} PLANS & PRICING
          %li
            %a{href: "features.html"} FEATURES
          %li
            %a{href: "about.html"} ABOUT
          %li
            %a{href: "support.html"} SUPPORT
          %li
            %a{href: "login.html"} LOG IN
          %li#signup
            %a.button.no-margin{href: "signup.html"} SIGN UP