%p{ style: 'margin: 0 0 1em 0;' }
  // Hi,
  Hi
  = locals[:name]
  ,

%p{ style: 'margin: 0 0 1em 0;' }
  Just a heads up to tell you that there’s new activity in one of your FileQuote spaces. Click below to log on:

%p{ style: 'margin: 0 0 1em 0;' }
  %a{href: "https://app.filequote.io"}
    [Open FileQuote]
 
%p{ style: 'margin: 0 0 1em 0;' }
  Best,<br />
  – The Team at FileQuote