%p{ style: 'margin: 0 0 1em 0;' }
  // Hi,
  Hi
  = locals[:name]
  ,

%p{ style: 'margin: 0 0 1em 0;' }
  Thanks for uploading a file on FileQuote! You can access your file by clicking below.

%p{ style: 'margin: 0 0 1em 0;' }
  %a{href: "https://app.filequote.io/show/#{locals[:space_id]}"}
    [Access to FileQuote]
 
%p{ style: 'margin: 0 0 1em 0;' }
  Best,<br />
  – The Team at FileQuote