%p{ style: 'margin: 0 0 1em 0;' }
  // Hi,
  Hi
  = locals[:name]

%p{ style: 'margin: 0 0 1em 0;' }
  Thanks for joining! 

%p{ style: 'margin: 0 0 1em 0;' }
  I want to make sure you get the most out of FileQuote, and that's why I'm here to help you out.

%p{ style: 'margin: 0 0 1em 0;' }
  If you have any questions or feedback, please drop me a line (team@filequote.io) or reply to this email.

%p{ style: 'margin: 0 0 1em 0;' }
  I hope to hear from you soon. In the meantime, enjoy FileQuote!

%p{ style: 'margin: 0 0 1em 0;' }
  %a{href: 'https://app.filequote.io'}
    [Access to FileQuote]
 
%p{ style: 'margin: 0 0 1em 0;' }
  Best,<br />
  – Jonathan and The Team at FileQuote